
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gluten:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gluten:wght@200&family=Mukta:wght@300&family=Poppins:ital,wght@1,100&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* overflow-x: hidden; */
    font-family: 'Mukta', sans-serif;
    /* width: 100vw; */
}
#main {
    overflow-x: hidden; 
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8% 46% 8% 15%;
    font-family: 'Black Ops One', cursive;

}
header p{
    margin-bottom: 10px;
    font-size:2rem;
    line-height: 160%;
}
header p span{
    color:  rgb(13, 179, 123);
}
.commonButton button{
    padding: 10px;
    color: rgb(13, 179, 123);
    border: 2px solid rgb(13, 179, 123);
    font-size: large;
    background-color: white;
}


 .aboutMeContainer {
    position: relative;
    color: white;
    background-color: rgb(13, 179, 123);
    font-size: 1.7rem;
    
}

.aboutMeContainer::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-3deg);
    overflow: hidden;
}
.aboutMeContainer div h1{
    display: flex;
    justify-content: center;
}

.userDescriptionContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userPhotoContainer {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
    
}
.DescriptionContainer{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0px 5rem;
}
.resumeButton button{
    color: white;
    background:  rgb(13, 179, 123);
    border: 2px solid white;
    margin-top: 10px;
    padding: 8px;
} 



.projectsContainer {
    margin-top: 6%;
}
.projectsContainer h2{
    display: flex;
    justify-content: center;
}
h2 {
    font-size: xx-large;
}

.subProjectContainer {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px 90px 0px;
}

.projectInformation {
    display: flex;
    flex-direction: column;
    width: 40vw;
    
} 

.projectPhotoContainer {
    display: flex;
    margin-top: 30px;
}

.projectPhotoContainer img {
    width: 523px;
    max-height: 300px;
}

.projectButtons {
    display: flex;
}

.sourceButton button{
    margin-left: 10px;
    border: none;
    padding: 10px;
    color: rgb(13, 179, 123);
    font-size: large;
    background-color: white;

}

.Spacer{
    margin: 40px 0px;
}



.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(13, 179, 123);
    font-size: x-large;
}

.contactContainer::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: skewY(-3deg);
    overflow: hidden;
}

a {
    display: inline-block;
    margin-inline-end: 30px;
    border: 2px solid rgb(49, 187, 206);
    text-decoration: none;
    color: rgb(49, 187, 206);
}




footer {

    background-color: black;
    color: white;
    text-align: center;

}

.footAncher {
    display: inline-flex;
    margin: 50px 0px;
    font-size: x-large;

}

@media screen and (max-width: 1000px) {

    .projectPhotoContainer img{
        width: auto;
        height: auto;
    }

    .projectInformation .DescriptionContainer{
        margin: 0;
        font-size: auto;
    }
    
}

@media screen and (max-width: 780px) {

    .userDescriptionContainer .DescriptionContainer{
        margin: 30px;
    }
    .userPhotoContainer {
        margin-left: 20px;
    }
    .subProjectContainer{
        flex-direction: column;
        align-items: center;
    }
    .projectPhotoContainer{
        margin: 10px 0px;
        order: -1;
    }
    .projectPhotoContainer img{
        width: 600px;
        height: auto;
    }
    .projectInformation {
        width: 80%;
    }
    .projectInformation div{
        font-size: medium;
    }
}

@media screen and (max-width: 615px) {

    header {
        margin: 8%;
        flex-wrap: wrap;
    }
    .userDescriptionContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .userPhotoContainer{
        margin-top: 10px;
        width: auto;
    }
    .userDescriptionContainer .DescriptionContainer{
        font-size: large;
        align-items: center;
        
    }
    .projectPhotoContainer{
        width: auto;
    }
    .projectPhotoContainer img{
        width: auto;
    }

    .contactContainer div{
        font-size: large;
    }
    
}

@media screen and (max-width: 480px) {

    .projectPhotoContainer img{
        max-width: 360px;
    }
    
}

@media screen and (max-width: 390px) {
    header p{
        font-size: 1.3rem;
    }
    .projectPhotoContainer img{
        width: 300px;
    }
    .projectButtons button{
        font-size: 0.7rem;
        padding: auto;

    }
}